body {
    background-color: #2a4e6c ;
    color: white;
}

.food {
   height: 350;
   width: auto; 
}

body {
    background-color: #2a4e6c ;
    columns: white;
}

.btoast {
    height: 500;
    width: auto;
}