body {
    background-color: #2a4e6c ;
    color: white;
}

.food {
   height: 300;
   width: 450; 
   border: 3px solid white;
   margin: 10px;
}

body {
    background-color: #2a4e6c ;
    columns: white;
}

.btoast {
    height: 500;
    width: auto;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
  }
  